<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title> HSH- Pagina Principal</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
   <h1 class="text-white bg-dark"> Bienvenido</h1>
   <div align="right"> <a href="/iniciarSesion" class="btn btn-light">Iniciar Sesión</a>
		</div>
 
</nav>


		  <center> <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "HSH-Complete.svg", title: "Logo", class: "image" %>
              <% end %>
        </div>
   			
       
      </div>
       </div> </center>
       <

<nav class="navbar navbar-dark bg-dark">
      <h4 class="text-white bg-dark"> Propiedades </h5>


   
       <br>
       <br>
</nav>
        <br>
       <br>
       <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card mb-3">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">HOT SALE</h5>
    <p class="card-text">Descripcion a mostrar de la residencia que se encuentra en hot sale.</p>
    <p class="card-text"><small class="text-muted"> week: -- to ---</small></p>
  </div>
</div>
</div>

<div class="shadow p-3 mb-5 bg-white rounded">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title"> PROPIEDAD </h5>
    <p class="card-text">Descripción de la propiedad a mostrar..</p>
    <p class="card-text"><small class="text-muted">week: --- to ---</small></p>
  </div>
  <img class="card-img-bottom" src=".../100px180/" alt="Card image cap">
</div>
</div>


<h6 class="text-secondary"> -Para ver más propiedades y poder reservar, inicie sesion...</h6>
       <br>



<div class="p-3 mb-2 bg-dark text-white">

   <center>
    <<%= link_to "Contacto", "/Contacto"%>
    <<%= link_to "Ayuda", "/help"%>
    <<%= link_to "Sobre Nosotros", "/about"%></center>
    <br>
    <CENTER> <p> - Cadena de Hoteles Home Switch Home - 2018 -</p></CENTER>

    
    
    </div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>