
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
   <h1 class="text-white bg-dark" align="left"> Iniciar Sesi칩n</h1>
    </nav>
       <br>
  <div class="card text-center">
  <div class="card-header">
    Para disfrutar de nuestros servicios, inicie sesi칩n:
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
          <%=form_tag '/validarLogIn', method: :get do%>
                  <div class="form-group">
                  <div align="left"><%= label_tag :nombreDeUsuario, 'Ingrese su email'%></div>

                  <%= text_field_tag :nombreDeUsuario, params[:nombreDeUsuario],class: "form-control",placeholder: "ejemplo@hsh.com", required: true%>

                  <div align="left"><small align="left"> <%= label_tag :emailHelp, 'Como usuario administrador ingrese su nombre de usuario.', class: 'form-text text-muted' %> </small>
                  </div>
                  <br>

                  <div align="left"> <%= label_tag :clave,'Ingrese su contrase침a' %></div>
                  <%= password_field_tag :clave, params[:clave], class: "form-control", placeholder: "contrase침a", required: true%>
                  <br>
                  <br>
                  <center><%= submit_tag 'Ingresar', class: 'btn btn-primary btn-lg'%> </center>
                  </div>

                  

          <%end %>          


  </div>
</div>




