<h2>Sesion Iniciada</h2>


  <div class="card-group">
    <% Residence.all.each do |residence|%>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="card">

        <%= image_tag residence.urlImag ,size: "500x500", class: "card-img-top" %>
    <div class="card-body">

      <h5><a href=<%=residence_path(residence)%> class="card-title"><%=residence.nombre%></a></h5>
      <p class="card-text"><%=residence.descripcion%></p>
      <p class="card-text"><small class="text-muted"><%=residence.provincia%>, <%=residence.localidad%></small></p>

       <%= link_to 'Modificar', edit_residence_path(residence), class: 'btn btn-primary'%>

       <%= link_to 'Eliminar', residence, method: :delete, class: 'btn btn-outline-danger', data:{ confirm: '¿Estás seguro que querés eliminar esta residencia?'}%>
    </div>
  </div>

</div>
  <%end%>

</div>
